// Colours Vars

$white:				#FFF;
$black:				#000;
$gray:				#7F7F7F;
$red:				#ff0000;


// Font Colours
$primaryFontColour:				$black;

// LayoutColours
$backgroundColour:				$white;

// Forms
$formsError:					$red;