/**
 * Call to actions
 *
 */
button{
	colour: red;
	@include breakpoint(portraitTablets) {
		
	}
	&:hover {
		color: pink;
	}
	
	// Secondary
	 &.secondary {
	 	colour: light(red,80%);
	 	
	 	&:hover {
	 	
	 	}
	 }
	// Tertiary
	 &.tertiary {
	 	colour: light(red,80%);
	 	
	 	&:hover {
	 	
	 	}
	 }
	
	// Button sizes
	&.large {
		
	}
	&.full {
		
	}
}